.mdl-card {
    width: 360px;
    height: 360px;
    margin:2em 1em;
}
.mdl-card > .mdl-card__title {
    background: #e4e4e4;
    color:black;
}
.mdl-card__title {
    background-size:cover !important;
    padding:0;
}
.mdl-card__title p {
    font-weight: 400;
}
.allapp-cards,.tools-buttons,.smbx-content-cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.mdl-card__supporting-text p {
    margin: 0.75em 0;
    line-height: 20px;
}
.font-weight-5 {
    font-weight: 500;
}
.card-included-image{
    display: inherit;
    padding: 16px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, white 20%, transparent 36%);
}
