@media screen and (max-width:480px) {
    .mdl-layout__header-row .mdl-layout-title {
        display:none;
    }
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mdl-layout-title * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.footer {
    text-align: center;
}
.footer p{
    margin:0.5em 0;
}
.pages-bottom-right {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    margin: 0 2em 2em 0;
    z-index: 900;
    flex-direction: column;
}
.pages-bottom-right button{
    margin:0.25em 0;
}
.mdl-dialog{
    min-width:360px;
    width:inherit;
    max-width: max-content;
}
.padding-1 {
    padding:1em;
}
.padding-2 {
    padding:1.5em;
}
.padding-3 {
    padding:2em;
}
.margin-1 {
    margin:0.25em;
}
.margin-2 {
    margin:0.5em;
}
.margin-3 {
    margin:1em;
}
.margin-4 {
    margin:2em;
}
.blur-1 {
    backdrop-filter:blur(16px);
}
