<div class="mdl-layout__header-row">
    <!--Title-->
    <span class="mdl-layout-title">
        <!--Page Title Here-->
        Collei_Madcat
    </span>
    <!--Add spacer,to align navigation to the right-->
    <div class="mdl-layout-spacer"></div>
    <!--Navigation.We hide it in small screens.-->
    <nav class="mdl-navigation mdl-layout--large-screen-only"><a class="mdl-navigation__link" href="https://colleimadcat.com/">主页</a><a class="mdl-navigation__link" href="https://wiki.colleimadcat.com/">Wiki</a><a class="mdl-navigation__link" href="https://colleimadcat.com/resource">资源</a></nav><button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">more_vert</i></button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
        <li class="mdl-menu__item needcomingsoon">Github</li>
        <li class="mdl-menu__item needcomingsoon">Bilibili</li>
    </ul>
</div>